html {
	font-family: 'SpoqaHanSansNeo-Regular';
	letter-spacing: -0.84px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: rgb(17, 17, 17);
}

.main .title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(255 255 255 / 80%);
    padding-left: 50px;
    padding-top: 150px;
}

.main .side_title {
    color: rgb(224, 224, 224);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    padding-left: 50px;
    padding-top: 10px;
}

.main .bottom_bar {
    position: relative;
    margin: 0 auto;
    width: 95%;
    padding-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cate {
    position: fixed;
    z-index: 100;
    width: 330px;
    height: 40px;
    background: rgb(41, 41, 41);
    border-radius: 5px;
    right: 10px;
    top: 10px;
    /* 내부 */
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.cate span {
    margin: 10px;
}

.cate span:hover {
    color: yellow;
    transition: 300ms;
}